<div class="container container-fluid" id="container">
  <div class="card card-login">
    <div class="card-header">Update Product</div>
    <div class="card-body">
      <form style="align-items: center">
        <div *ngIf="errorMessage"
             class="message">
          <span class="alert alert-danger">{{errorMessage}}</span>
        </div>
        <div *ngIf="successMessage"
             class="message">
          <span class="alert alert-success">{{successMessage}}</span>
        </div>

        <div class="form-group row" style="flex-direction: row;display: flex;">
          <label class="col-sm-4 col-form-label">Brand</label>
          <div class="col-sm-8">
            <input class="form-control" id="brandInput" type="text" name="brand"
                   placeholder="Brand"
                   [(ngModel)]="form.brand"
                   required aria-required="true"
            />
          </div>
        </div>
       <div class="form-group row" style="flex-direction: row;display: flex;">
         <label class="col-sm-4 col-form-label">Name</label>
         <div class="col-sm-8">
            <input class="form-control" id="nameInput" type="text" name="name"
                   placeholder="Product name"
                   [(ngModel)]="form.name"
                   required aria-required="true"
            />
         </div>
        </div>
         <div class="form-group row" style="flex-direction: row;display: flex;">
           <label class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
            <input class="form-control" id="priceInput" type="number" name="price"
                   placeholder="Price"
                   [(ngModel)]="form.price"
                   required aria-required="true"
            />
           </div>
        </div>
         <div class="form-group row" style="flex-direction: row;display: flex; justify-content: center">
            <textarea rows="4" id="descriptionInput" style="flex:1"
                      placeholder="Description" class="form-control"
                      (change)="textAreaOnChange($event)"
            >{{form.description}}</textarea>
        </div>
        <button
          class="btn btn-primary btn-block"
          (click)="updateProduct()"
        >Update Product
        </button>
      </form>
    </div>
  </div>
</div>
