<div class="container-fluid" id="container">
  <div class="card card-login">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form>
        <div *ngIf="errorMessage"
           class=" error-message">
        <span class="alert alert-danger">{{errorMessage}}</span>
      </div>
        <div class="form-group">
          <label>Username
            <input class="form-control" id="usernameInput" type="email" name="username"
                   placeholder="Username"
                   [(ngModel)]="credentials.username"
                   required aria-required="true"
            />
          </label>

        </div>
        <div class="form-group">
          <label>Password
            <input class="form-control" id="passwordInput" type="password" name="password"
                   placeholder="Password"
                   [(ngModel)]="credentials.password"
                   required aria-required="true"
            />
          </label>
        </div>
        <button
          class="btn btn-primary btn-block"
          (click)="onLogin()"
        >Login
        </button>
        <p>Don't have an account, <a routerLink="/signup">signup</a></p>
      </form>
    </div>
  </div>
</div>
