.card {
    margin-top: 100px;
  flex:1
}
.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
.card-body {
  align-items: center;
   text-align: center;
  justify-content: center;
}
.card-header {
  text-align: center;
}

#container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.error-message{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: inherit;
  justify-content: center;
}
