<div class="container-fluid" id="container">


  <ul class="list-group  col-md-4">
    <li class="list-group-item">
      <a [routerLink]="['/admin/product/add']" id="btnAdd"
         class="btn btn-outline-success"
      > Add Product
      </a>
    </li>
    <li class="list-group-item"
        *ngFor="let product of products; let i = index" [attr.data-index]="i">
      <div>
        <h5 class="badge badge-info">{{(i+1) + '. ' +product.name}}</h5>
        <p>Brand: {{product.brand}}</p>
        <p *ngIf="product && product.description">Description: {{product.description}}</p>
        <p>Price: {{product.price}}</p>
        <p *ngIf="product">
          Discount: {{product.discount || 0}}
        </p>
        <p>Added: {{formatDate(product.createdOn)}} </p>
        <p *ngIf="product && product.updatedOn">
          Update: {{formatDate(product.updatedOn)}}
        </p>
      </div>
      <div class="row" style="padding-left: 15px">
        <div style="flex: 1"></div>
        <div>
          <a class="btn btn-outline-primary" style="margin-right: 2px"
             [routerLink]="['/admin/product/update/',{id: product.id}]"
          >edit
          </a>

          <a class="btn btn-outline-danger"
             (click)="deleteProduct(product.id)"
          >remove
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
