<div class="container-fluid" id="container">
  <div class="modal-content col-md-4">
    <div>
      <div class="modal-header">
        <h5 class="badge badge-light" *ngIf="account">Account Balance: R{{Round((account.balance))}}</h5>
      </div>
      <form class="form-inline" style="">

        <div class="form-group">
            <label style="text-align: left; margin-right: 10px;">Amount</label>
          <div class="input-group col-md-6" style="margin-right: 10px;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">R</span>
            </div>
            <input class="form-control" type="number"
                   min="0" [(ngModel)]="amount" name="amount"
            />
            </div>
          <input class="btn btn-outline-success my-1" type="button" (click)="accountTopup()" value="top up"/>
        </div>


      </form>
    </div>

    <div class="modal-body">
      <h5>Transactions</h5>
      <ul *ngIf="account" class="list-group">
        <li class="list-group-item"
            *ngFor="let transaction of account.transactions">
          <div>
            <p>{{transaction.description + ' R' + transaction.amount}}</p>
            <p>{{formatDate(transaction.createdOn)}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

