<div class="container-fluid" id="container">
  <ul class="list-group  col-md-4">
    <li class="list-group-item"
        *ngFor="let discount of discounts; let i = index" [attr.data-index]="i">
      <div>
        <p>{{i+1 + '. '}}Rule: {{discount.rule}}</p>
        <div class="input-group row mb-2">
          <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="Discount"
            [(ngModel)]="discount.rate" min="0" max="100" name="discount"
          >
           <div class="input-group-append">
            <div class="input-group-text">%</div>
          </div>
          <button class="btn btn-success" style="margin-left: 10px"
                  (click)="updateDiscount(discount.id, discount.rate)"
          >Update</button>
        </div>
      </div>
    </li>
  </ul>
</div>
