<div >
    <div class="modal-content col-md-4">
      <div class="modal-header">
        <h5 class="modal-title" id="purchaseModalLabel">Purchase</h5>
      </div>
      <div class="modal-body"  >
        <div id="purchaseHeader">
          <h5 class="badge  badge-info">{{product.name}}</h5>
          <h5 class="badge badge-light" *ngIf="account">Account Balance: R{{account.balance}}</h5>
        </div>
        <p>Brand: {{product.brand}}</p>
        <p *ngIf="product && product.description">Description: {{product.description}}</p>
        <p>Price: {{product.price}}</p>
        <p *ngIf="product && product.discount>0">
          Discount: {{product.discount}}
        </p>
      </div>
      <input
         class="btn btn-primary" type="button"
        (click)="onPurchase()" value="Make pay"
      />
    </div>
  </div>
