<div class="card card-login mx-auto mt-5">
  <div class="card-header">Signup</div>
  <div class="card-body">
    <form>
      <div *ngIf="errorMessage"
           class="error-message">
        <span class="alert alert-danger">{{errorMessage}}</span>
      </div>
      <div class="form-group row" style="flex-direction: row;display: flex;">
        <label class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
          <input class="form-control" id="nameInput" type="text" name="name"
                 placeholder="Name"
                 [(ngModel)]="form.name"
                 required
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lastname</label>
        <div class="col-sm-8">
          <input class="form-control" id="lastnameInput" type="text" name="lastname"
                 placeholder="Lastname"
                 [(ngModel)]="form.lastname"
                 required
          />
        </div>

      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Phone</label>
        <div class="col-sm-8">
          <input class="form-control" id="phoneInput" type="text" name="phone"
                 placeholder="Phone"
                 [(ngModel)]="form.phone"
                 required
          />
        </div>

      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input class="form-control" id="usernameInput" type="email" name="username"
                 placeholder="Email"
                 [(ngModel)]="form.email"
                 required
          />
        </div>

      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Password </label>
        <div class="col-sm-8">
          <input class="form-control" id="passwordInput" type="password" name="password"
                 placeholder="Password"
                 [(ngModel)]="form.password"
                 required
          />
        </div>

      </div>
      <button
        class="btn btn-primary btn-block"
        (click)="onSignUp()"
      >Signup
      </button>
    </form>
  </div>
</div>
