<nav class="navbar navbar-expand-lg navbar-light {{isAdminPath ? 'bg-dark' : 'bg-light'}} admin">
  <a class="navbar-brand {{isAdminPath ? 'admin' : ''}}" routerLink="/">Spaza</a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon  {{isAdminPath ? 'admin' : ''}}"></span>
  </button>

  <div *ngIf="!isAuthPath" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarSupportedContent">
    <ul *ngIf="!isAdminPath" class="navbar-nav" style="flex: 1">
      <li *ngIf="user.id" class="nav-item active  {{isAdminPath ? 'admin' : ''}}">
        <a class="nav-link" routerLink="/products">
          Products</a>
      </li>
      <li  *ngIf="user.id" class="nav-item active  {{isAdminPath ? 'admin' : ''}}">
        <a class="nav-link" routerLink="/account">
          Account</a>
      </li>
    </ul>

    <ul *ngIf="isAdminPath" class="navbar-nav" style="flex: 1">
      <li class="nav-item active">
        <a class="nav-link  {{isAdminPath ? 'admin' : ''}}" routerLink="/admin/purchases">
          Purchases</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link  {{isAdminPath ? 'admin' : ''}}" routerLink="/admin/products">
          Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link  {{isAdminPath ? 'admin' : ''}}" routerLink="/admin/discounts">
          Discounts</a>
      </li>
    </ul>

    <ul class="navbar-nav row">
      <li *ngIf="!hasUser()" class="nav-item">
        <a class="nav-link  {{isAdminPath ? 'admin' : ''}}" routerLink="/login">Login</a>
      </li>
      <li *ngIf="user && user.admin" class="nav-item">
        <a class="nav-link btn btn-primary admin"
           routerLink="/admin/purchases"
        >Admin
        </a>
      </li>

      <li *ngIf="hasUser()" [ngClass]="{'nav-item': true, 'dropdown':true}">
        <a class="nav-link dropdown-toggle  {{isAdminPath ? 'admin' : ''}}" id="navbarDropdown"
           role="button" data-toggle="popover"
           aria-haspopup="true" aria-expanded="false"
           (click)="toggleUserDropdown()"
        >
          {{user.name + ' ' + user.lastname}}
        </a>


        <div [ngClass]="{'dropdown-menu': userDropdown, 'dropdown': true}"
             aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
             <a class="dropdown-item " (click)="logout()">Logout</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
