<div class="container-fluid" id="container">
  <ul class="list-group  col-md-4">
    <li class="list-group-item"
        *ngFor="let purchase of purchases;  let i = index" [attr.data-index]="i">
      <div>
        <h5 class="badge badge-info">{{'Purchase No:' +purchase['purchase-no']}}</h5>
        <p>Product: {{purchase.product.names}}</p>
        <p>Price: R{{Round(purchase.product.price)}}</p>
        <p>Quantity: {{purchase.quantity}}</p>
        <p>Total: R{{ Round(purchase.product.price * purchase.quantity)}}</p>
        <p>Purchased by: {{purchase.createdBy.names}}
        <p>Purchase date: {{formatDate(purchase.createdOn)}}
        </p>
      </div>
    </li>
  </ul>
</div>
