 <div class="container-fluid" id="container">
  <ul class="list-group  col-md-4">
    <li class="list-group-item"
      *ngFor="let product of products;  let i = index" [attr.data-index]="i">
      <div>
        <h5 class="badge badge-info">{{(i+1) + '. ' +product.name}}</h5>
        <p>Brand: {{product.brand}}</p>
        <p *ngIf="product && product.description">Description: {{product.description}}</p>
        <p>Price: {{product.price}}</p>
        <p *ngIf="product && product.discount>0">
          Discount: {{product.discount}}
        </p>
        <a class="btn btn-success buy-btn"
           [routerLink]="['/product/purchase',{id: product.id}]"
        >buy
        </a>
      </div>
    </li>
  </ul>
 </div>
